<div class="flex-center flex-col">
    <h1>Jobs Applied</h1>
    <ul>
        <li *ngFor="let file of files" class="flex flex-row justify-between">
            <div class="flex-center gap-4">
                <h2>{{ getCompanyAndPosition(file).company }}</h2>
                <h2>{{ getCompanyAndPosition(file).position | sanitizeString:'-':' '}}</h2>
            </div>
            <button (click)="viewJob(file)" class="btn mx-3">View</button>
        </li>
    </ul>
    <div *ngIf="isSelected() && selectedJob">
        <h3>{{ selectedJob.positionName }} at {{ selectedJob.companyName}}</h3>
        <p *ngIf="selectedJob?.jobDescription" [innerHTML]="selectedJob?.jobDescription | newlineToBr"></p>
        <div class="flex-center">
            <a *ngIf="selectedJob?.siteUrl" [href]="selectedJob?.siteUrl" target="_blank" class="p-3 w-28 text-center btn rounded-xl shadow-xl bg-blue-500 hover:bg-blue-600 m-2 text-white">Website</a>
        </div>
    </div>
</div>