<div class="flex-center flex-col">
    <h1>Jobs Applied</h1>
    <ul>
        <li *ngFor="let file of files">
            <div class="flex-center gap-4">
                <h2>{{ getCompanyAndPosition(file).company }}</h2>
                <h2>{{ getCompanyAndPosition(file).position }}</h2>
            </div>
            <button (click)="viewJob(file)">View</button>
        </li>
    </ul>
    <div *ngIf="isSelected() && selectedJob">
        <h3>{{ selectedJob?.positionName }} at {{ selectedJob?.companyName }}</h3>
        <p *ngIf="selectedJob?.jobDescription">{{ selectedJob?.jobDescription }}</p>
        <a *ngIf="selectedJob?.siteUrl" [href]="selectedJob?.siteUrl" target="_blank">Website</a>
    </div>
</div>